footer {
    width: 100%;
    margin: auto;
    margin-top: 24px;
    padding: 20px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    width: 100%;
    padding: 20px 0;
}

footer a {
    width: 30px;
    height: 30px;
    opacity: 65%; 
    fill: white;
}

footer a:hover,
footer a:focus-visible {
    opacity: 100%;
    transform: translateY(-2px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

footer a:focus-visible {
    outline: 2px solid #22d3ee;
    outline-offset: 4px;
}


@media only screen and (max-width: 420px) {
    
    footer {
      margin-top: 0px;
      width: 100%; 
    }
    
    .nav-item:hover {
      padding-top: 0px;
      margin-bottom: 0px;
      transition: none; 
    } 
}
  
@media only screen and (min-width: 421px) and (max-width: 1023px) {
    footer {
        margin-top: 48px;
        width: 100%;
    }
}